.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Technical
*.make
clion*
cmake*
CMakeCache*
*.log
*.includecache
*.internal
DependInfo.cmake
link.txt
Makefile*
*.marks
TargetDirectories.txt
cmake-build-debug




# Executables
*.exe
*.out
*.app


